

.idea

department-service/target
department-service/src/test/*

employee-service/target
employee-service/src/test/*

service-registry/target
service-registry/src/test/*

api-gateway/target
api-gateway/src/test/*

docker*yml